@{
    ViewBag.Title = "Designation Details";
}

<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/DesignationScripts.js"></script>
</head>

<div class="row">
    <div class="col-md-12">
        <h1 style="margin-left:440px;margin-top:28px;">Designation Details</h1>
        <a class="btn btn-danger btn-sm fab" id="add_des" style="margin-right:80px;"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>
<table class="table table-striped" style="width:1200px; margin:40px 90px 0px 90px;" id="des_table">
    <thead>
        <tr class="tr">
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
</table>
<div class="modal" role="dialog" id="des_form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Enter designation details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_form">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="name" placeholder="Enter designation" autocomplete="off" class="input_boxes" required/>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="submit">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" role="dialog" id="update_form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Change designation details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_update_form">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="update_id" readonly autocomplete="off" class="input_boxes" required/>
                <input type="text" id="update_name" placeholder="Enter designation" autocomplete="off" class="input_boxes" required/>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="submit_update">Update</button>
            </div>
        </div>
    </div>
</div>

<script>
     
</script>